

.contenedordeinicioAdmin{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    
}


.imglogo{
    margin-right: 20px;
}

.contenedordeinicio{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*background: #a7d5fa;*/
    background-size: 100% 100%;
    
}

.fondoblancotransp{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../../../images/ofifondo.png");
    opacity: 0.5;
   

}



.contenedorheader{
    
    position: relative;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url("../../../images/brolololo.jpg");
    background-size: 60% 350%;
    /*background:#0580c798;*/
    border-radius: .3rem;
    border: 1px solid #5470cc;
    
   
}

/*.imagenheader{
    background-image: url("../../../images/espacio1.jpg");
    overflow: hidden;
}*/

.TextoTituloInicio{
   color: #3a4adbf3;
}

.TextoSubTituloInicio{
    color: #3a4adbf3;
 }


.contendorimagenesinicio{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #b9ebf3;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border: 1px solid #5470cc;

}






/*---------------Plantilla admin------------------*/

.BotonAtrasAdmin{

    margin-left: 40px;
    text-decoration: none;
    color: #fde9d2;
}




/*---------------Plantilla detespacio------------------*/

.FondoContenedorDetalleEspacio{
    margin-top: 50px;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 800px;
    border-radius: 20px;
    border:20px solid #4a96b9;
    

}

.FondoContenedorDetalleEspacio::before{
    content: "";
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 760px;
 
    opacity: 0.9;

}

.imagenDeTVenta{
    width: 100%;
    margin-bottom: 50px;

}


@media (max-width: 768px){

    .FondoContenedorDetalleEspacio{
        height: 80rem;
    }
    
    .FondoContenedorDetalleEspacio::before{
        height: 77.5rem;
    }

}

@media (min-width: 576px){

.contenedorheader {
    padding: 4rem 2rem;
}


}




